/.vscode
/code1.cpp
/code1.exe
/code10.cpp
/code11.cpp
/code2.cpp
/code2.exe
/code3.cpp
/code3.exe
/code4.cpp
/code4.exe
/code5.cpp
/code5.exe
/code6.cpp
/code6.exe
/code7.cpp
/code7.exe
/code8.cpp
/code8.exe
/code9.cpp
/codetrial.cpp
/codetrial.exe
/codetrial2.cpp
/codetrial2.exe
/patternscode.cpp
/patternscode.exe